 @(userForm:Form[User]) @import helper._
<html>
<head>
<title>Edit Form</title>
</head>
<body>
	<h1>------Edit Form ----</h1>

	<form action="@routes.HomeController.update()" method="POST">
		<br> <label>
			<h3>First Name :-</h3>
		</label> <input name="fName" type="text"> <br> <label>
			<h3>Middle Name :-</h3>
		</label> <input name="mName" type="text"> <br> <label>
			<h3>Last Name :-</h3>
		</label> <input name="lName" type="text"> <br> <label>
			<h3>Email Id :-</h3>
		</label> <input name="userEmail" type="text"> <br> <label>
			<h3>Password :-</h3>
		</label> <input name="password" type="text"> <br> <br> <input
			type="submit" value="Add User">
</body>
</html>